body {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
}

li {
    background-color: #333;
    float: left;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(0, 0, 0, 1);
}

.bg-green {
    background-color: #4caf50;

}

.content {
    margin-top: 55px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(248, 248, 255, 0.83);
    min-width: 160px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}


.dropdown-btn {
    background-color: #4caf50;
    color: white;
    padding: 14px;
    margin: -8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-btn {
    background-color: #3e8e41;
}

.dropdown:hover .dropdown-content {
    display: block;
}